body{
    width: 800px;
    margin: auto;
}
nav{
    background-color: gray;
    height: 35px;
    border-radius: 15px;
}
nav ul li{
    list-style: none;
    display: inline;
    float: inline-end;
    line-height: 35px;
    margin-left: 15px
}
nav ul li a {
    text-decoration:none;
}
nav ul li a:hover{
    color: red;
    cursor: pointer;
}
