body{
    background-color: darkgray;
}
box {
    label
}
cont ::break-before: ;
::before{
    background: linear-gradient(45deg
    red,
    orange,

    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    
    );
}